@use "../global/styles/colors/variables" as var;

:root {
  --background: #{var.$white-200};
  --text-main: #{var.$black-800};
  --border-main: #{var.$black-800};
  --contrast-background: #{var.$black-100};
  
  &.dark {
    --background: #{var.$black-400};
    --text-main: #{var.$white-200};
    --border-main: #{var.$white-200};
    --contrast-background: #{var.$black-600};
  }
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-main);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

header {
  width: 100%;
}

main {
  width: 100%;
  max-width: 1200px;
}

a {
  color: inherit;
  text-decoration: none;
}
