.container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.linkList {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
}

.linkList li {
  display: flex;
}

.link {
  font-size: 30px;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: #404040;
  transition: all ease-in 250ms;
}

.link-green:hover {
  background-color: rgb(126, 223, 126);
}

.link-blue:hover {
  background-color: rgb(99, 135, 227);
}

.link-red:hover {
  background-color: rgb(220, 116, 116);
}

.link-yellow:hover {
  background-color: rgb(212, 212, 73);
}

.link-purple:hover {
  background-color: rgb(233, 92, 233);
}
