@use "../../global/styles/colors/variables" as colors;

.container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.linkList {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
}

.linkList li {
  display: flex;
}

.link {
  font-size: 30px;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: var(--contrast-background);
  transition: all ease-in 250ms;
}

.link-green:hover {
  background-color: colors.$green-500;
}

.link-blue:hover {
  background-color: colors.$blue-500;
}

.link-red:hover {
  background-color: colors.$red-500;
}

.link-yellow:hover {
  background-color: colors.$yellow-500;
}

.link-purple:hover {
  background-color: colors.$purple-500;
}
