$black-050: #e9e9e9;
$black-100: #bbbbbb;
$black-200: #9b9b9b;
$black-300: #6d6d6d;
$black-400: #515151;
$black-500: #252525;
$black-600: #222222;
$black-700: #1a1a1a;
$black-800: #141414;
$black-900: #101010;

$white-050: #fbfbfb;
$white-100: #f3f3f3;
$white-200: #eeeeee;
$white-300: #e6e6e6;
$white-400: #e1e1e1;
$white-500: #d9d9d9;
$white-600: #c5c5c5;
$white-700: #9a9a9a;
$white-800: #777777;
$white-900: #5b5b5b;

$green-050: #f2fcf2;
$green-100: #d7f5d7;
$green-200: #c4f0c4;
$green-300: #a9eaa9;
$green-400: #98e598;
$green-500: #7edf7e;
$green-600: #73cb73;
$green-700: #599e59;
$green-800: #457b45;
$green-900: #355e35;

$blue-050: #eff3fc;
$blue-100: #cfdaf6;
$blue-200: #b7c8f2;
$blue-300: #96afec;
$blue-400: #829fe9;
$blue-500: #6387e3;
$blue-600: #5a7bcf;
$blue-700: #4660a1;
$blue-800: #364a7d;
$blue-900: #2a395f;

$red-050: #fcf1f1;
$red-100: #f4d4d4;
$red-200: #efbfbf;
$red-300: #e8a2a2;
$red-400: #e39090;
$red-500: #dc7474;
$red-600: #c86a6a;
$red-700: #9c5252;
$red-800: #794040;
$red-900: #5c3131;

$yellow-050: #fbfbed;
$yellow-100: #f2f2c7;
$yellow-200: #ebebab;
$yellow-300: #e2e285;
$yellow-400: #dddd6d;
$yellow-500: #d4d449;
$yellow-600: #c1c142;
$yellow-700: #979734;
$yellow-800: #757528;
$yellow-900: #59591f;

$purple-050: #fdeffd;
$purple-100: #f8ccf8;
$purple-200: #f5b4f5;
$purple-300: #f092f0;
$purple-400: #ed7ded;
$purple-500: #e95ce9;
$purple-600: #d454d4;
$purple-700: #a541a5;
$purple-800: #803380;
$purple-900: #622762;